<html ng-app="skybar">
<head>
    <script src="/webjars/angularjs/1.3.13/angular.min.js"></script>
    <script src="skybar.js"></script>
    <link type="text/css" href="skybar.css" rel="stylesheet" />
</head>
<body ng-controller="SkybarController">
<table >
<tr>
    <tr>
      <th>Source files that have run</th>
      <th>&nbsp;</th>
      <th>{{currentSourceFile}}</th>
    </tr>
    <td valign="top">
    <ul>
        <li ng-repeat="sourceFile in sourceFiles() | orderBy:'toString()'">
            <a href="#" ng-click="loadSource(sourceFile)">...{{sourceFile.substring(sourceFile.indexOf('/', 32))}}</a>
        </li>
    </ul>
    </td>
    <td>&nbsp;&nbsp;</td>
    <td valign="top">

    <table >
        <tr ng-repeat="line in currentSourceLines track by $index"
                ng-class="{justcovered: (line.executable && line.covered && line.justUpdated), covered: (line.executable && line.covered && !line.justUpdated), uncovered: (line.executable && !line.covered)}">
            <td class="linenum">{{line.number}}</td>
            <td class="numVisits"><pre>{{line.execCount}}</pre></td>
            <td class="line"><pre>{{line.text}}</pre></td>
        </tr>
    </table>
    </td>
</div>

</tr>
</table>
</body>
</html>
