.linenum, .numVisits {
    font-family: monospace;
    text-align: right;
    padding: 0.3em;
}
.linenum {
    color: gray;
}
.numVisits {
    min-width: 2em;
}
.covered {
    background-color: #80ff80;
}

.uncovered {
    background-color: pink;
}

pre {
    font-size: 10pt;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

table {
    border-collapse: collapse;
}

.line {
    padding-left: 0.2em;
    border-left: 1px solid lightgray;
}